*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: cursive;
    font-weight: 700;
    font-size: medium;
}
.flex{ 
     display: flex;
    justify-content: space-between;
    
}
.gap{
    display: flex;
    gap: 6px;

}
.edit{
    color: black;
    background-color: #ffd04c;
    padding: 4px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    border-radius: 10px;
    font-weight: 500;
    margin-top: 4px;
} 
.edit1{
    color: white;
    background-color: red;
    padding: 4px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    border-radius: 10px;
    font-weight: 500;
    margin-top: 4px;
} 

.list{
    list-style: decimal;
    font-size: 25px;
    font-weight: 500;
    /* padding-top: 10px; */
}
.savbut{
    color: white;
    background-color: green;
    padding: 4px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    border-radius: 10px;
    font-weight: 500;
    margin-top: 4px;
}